<!DOCTYPE html>
<html>
<head>
    <title>About Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">

    <h2>Welcome to the AWS Capstone Project Deployment Portal</h2>
    <p>This platform is designed to bridge the gap between theoretical knowledge and practical cloud implementation.</p>
    <h4> This Project</h4>
    <p>
        <span ><b>Our Mission</b> </span>
       
        <br>
To provide students with a hands-on environment where they can deploy real-world applications using industry-standard AWS services.
        <br>
        <span><b>Tech Stack Details</b></span>
        <br>
        Frontend:
        <br>
HTML, CSS, JavaScript for responsive UI.
<br>
Backend:
<br>
Python Flask for robust API logic.
<br>
Cloud Infrastructure:
<br>
Amazon Web Services (AWS).
<br>
Why AWS?
<br>
IAM: Secure access management.
<br>
DynamoDB: Flexible NoSQL database.
<br>
Amazon SNS: Managed messaging service.
<br>
Amazon EC2: Scalable compute capacity.


    </p>

    <a href="/" class="btn btn-secondary mt-3">Back to Home</a>

</body>
</html>
